.header {
  margin-bottom: 30px;
}

.product {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 30px;
  height: 100%;
}

.product-img {
  text-align: center;
}

.product-title {
  margin: 10px 0 20px;
  font-weight: 700;
  text-align: center;
}

.product-img img {
  height: 200px;
}

.product-price {
  font-size: 20px;
  display: block;
  margin-bottom: 15px;
  color: #aaa;
  text-align: center;
}

.detailed-product {
  padding: 30px;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 20px;
}

.detailed-product img {
  height: 300px;
}

@media (max-width: 992px) {
  .products-list .col:not(:last-child) {
    margin-bottom: 20px;
  }
}
